
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-black:#000;
$color-white:#fff;
$color-red: #C11402;

$color-gray: #777;
$color-gray-light-1: #f7f7f7;

$black-shadow-dark: 0 1rem 2rem rgba($color-black,.2);
$black-shadow-light: 0 .5rem 1rem rgba($color-black,.2);

