.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 5rem;
        display: inline-block;
        border-radius: .3rem;
        font-size: 2rem;
        transition: all .2s; 
        position: relative;
        
        animation: moveindown 1.5s;

        @include respond (tab-port) {
            padding: 1.2rem 4rem;
        }

        @include respond (phone) {
            padding: 1rem 3rem;
            font-size: 1.8rem;
        }
    }

    &--white {
        background-color: $color-white;
        color: $color-red;

        &::after {
            background-color: $color-white;
        }

        &::before {
            background-color: $color-white;
        }
    }

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: $black-shadow-dark;

        &::after {
            transform: scaleX(2) ; 
            opacity: 0;
        }

        &::before {
            transform: translateY(35rem);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.3rem);
        box-shadow: $black-shadow-light;
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        opacity: .3;
    }

    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        transition: all .4s;
        opacity: .3;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    &-text {
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.5rem;
            border-left: 1px solid $color-secondary-dark;
            border-right: 1px solid $color-secondary-dark;
            display: inline-block;
            padding: 1rem;
            transition: all .3s;
        }

        &:hover {
            color: $color-black;
            background-color: $color-secondary-dark;
            box-shadow: $black-shadow-dark;
            transform: translateY(-.5rem);
        }

        &:active {
            color: rgba($color-black, .6);
            box-shadow: $black-shadow-light;
            transform: translateY(0);
            border-radius: .5rem;
        }
    }
    
    &-more {
        background-color: $color-red;
        cursor: pointer;
        position: absolute;
        text-decoration: none;
        color: $color-gray-light-1;
        padding: 2rem 8rem;
        border-radius: 1rem;
        border: 2px solid $color-red;
        transform: translate(-50%, -50%);
        transition: all .3s;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 700;
        font-size: 2rem;

        @include respond (tab-land) {
            font-size: 1.7rem;
            padding: 1.5rem 6rem;
            margin-top: 10rem;
            
        }

        @include respond (phone) {
            font-size: 1.5rem;
            padding: 1.5rem 6rem;
            margin-top: 10rem;
            
        }

        &:hover {
            background-color: transparent;
            color: rgba($color-black, .7);
            letter-spacing: .5rem;
            padding: 2rem 5rem;

            @include respond (tab-land) {
                padding: 1.5rem 4.5rem;
                
            }
        }
    }
}
