.hero-box {
    display: flex;
    position: absolute;
    top: 110rem;
    left: 20rem;
    
    @include respond (tab-land) {
        position: absolute;
        top: 110rem;
        left: 18rem;

    }

    @include respond (tab-port) {
        position: absolute;
        top: 100rem;
        left: 15rem;

    }

    @include respond (phone) {
        position: absolute;
        top: 86rem;
        left: 5rem;

    }
    

    &:hover img:not(:hover) {
        transform: scale(.8);
    }

}

.bk {
    width: 40rem;
    transition: all .3s;
    margin: 0 auto;

    @include respond (tab-land) {
        width: 30rem;
    }

    

    &:hover {
        transform: scale(1.2);
    }
}

.aq {
    width: 29rem;
    margin-top: 3rem;
    transition: all .3s;

    @include respond (tab-land) {
        width: 21rem;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.gw {
    width: 40rem;
    margin-top: 2rem;
    transition: all .3s;

    @include respond (tab-land) {
        width: 30rem;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.rc {
    width: 38rem;
    margin-top: 5rem;
    transition: all .3s;

    @include respond (tab-land) {
        width: 28rem;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.supercell {
    width: 150rem;
    position: absolute;
    top: 180rem;
    left: 20rem;
    
    @include respond (tab-land) {
        width:130rem;
        position: absolute;
        top: 175rem;
        left: 10rem;
    }
    @include respond (tab-port) {
        width:125rem;
        position: absolute;
        top: 165rem;
        left: 6rem;
    }

    @include respond (phone) {
        width:115rem;
        position: absolute;
        top: 150rem;
        left: 4rem;
    }
    
}